{% extends 'base.html' %}
{% block content %}
{% load  static %}
        <a href = "https://page.stibee.com/archives/81111">
            <button class = "news_button">
                <img class = "news_button1" src = "{% static 'main/img/donut_black.png'%}">
                <img class = "news_button2" src = "{% static 'main/img/donut_white.png'%}" style = "display:none;">
                <span class = "news_button_text">뉴스레터 맛보기</span>
            </button>
        </a>
        <section class = "header">
            <div class = "notice-board">
                <div class = "cancel-button">
                    <img src = "{% static 'main/img/cancel.png'%}">
                </div>

                <div class = "donut donut_black">
                    <img src = "{% static 'main/img/donut_black.png'%}">
                </div>

                <div class = "d-title" style = "color: black;">BYTE 뉴스레터 유의사항</div>

                <div class = "n-description"> 
                    BYTE 뉴스레터는 월/화/수/목/금 오전 6시에 모든 구독자들에게 한번에 전송돼요. 워낙 많은 구독자들에게 전송하다보니, 메일함에서 뉴스레터를 받아보는 데에 시간 차가 생길 수 있어요.
                    <br>
                    <br>
                    혹시 평일 오전 8시가 지났는데 뉴스레터가 오지 않았다면,
                    <div style = "font-weight : 700;"> 1. 스팸 메일함을 확인해주세요! </div>
                    스팸 메일함에 BYTE의 뉴스레터가 있다면, 해당 이메일 서비스에서 스팸을 해지할 수 있는 버튼을 꾸욱 눌러주세요.
                    <br>
                    <br>
                    <div style = "font-weight : 700;">2. 차단 목록도 확인 부탁드려요.</div>
                    <div style = "font-weight : 700;">3. G-mail의 경우 ‘프로모션 메일함’을 확인해주세요!</div>
                </div>
            </div>

            <div class = "header-inner">
                <a href = "{% url 'index' %}"> 
                    <div class = "logo"> 
                        <img src = "{% static 'main/img/logo.png' %} ">
                    </div>
                </a>

                <div class = "n">
                    <div class = "n-1">BYTE 소개</div>
                    <div class = "n-2">구독자 후기</div>
                    <div class = "n-3">지난 뉴스레터</div>
                </div>
                <div class = "deco-line"></div>

                <div class = "description-title" >비즈니스 세상 5분 읽기</div>
                <div class = "description">
                    <!--매주 월요일부터 금요일, 아침 8시! <br>
                    DAILY_BYTE와 비즈니스 인사이트를 채우는 시간. <br> -->
                    꼭 알아야 할 비즈니스 뉴스의 흐름과 핵심적인 용어를 <br>
                    가장 쉽게 설명하는 바이트 뉴스레터를 매일 만나보세요. <br>
                    현재 바이트 뉴스레터는<span style="font-weight:800; color:#00a6d7;">{{subscribers}}명</span>이 구독중입니다. <br>
                </div>
                <div class = "subscribe-form">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div><input type = "text" placeholder = "이름 (아이디)" id = "name" name = "name" value = {{name}}></input></div>
                        <div>
                            <input type = "text" placeholder = "이메일" id = "email" name = "email" value = {{email}}> </input>
                            <div class = "email-check"> {{ exist_alarm }} </div>
                        </div>
                        <div class = "checkbox">
                            <input type = "checkbox" id ="checkbox" name = "checkbox" value = "checked"> </input>
                            <label for = "checkbox"> 개인정보 수집 및 이용 동의 </label>
                        </div>
                        <div class = "checkbox">
                            <input type = "checkbox" id ="checkbox" name = "checkbox" value = "checked"> </input>
                            <label for = "checkbox"> 광고성 정보 수신 동의 </label>
                        </div>
                        <div class = "agree-info"> 
                            BYTE 뉴스레터를 받아볼 이메일 제공에 대해 동의합니다.
                            BYTE 뉴스레터 구독 취소시 개인정보는 폐기될 예정입니다.
                        </div>
                        <input type = "submit" id = "submit" value = "뉴스레터 무료로 구독하기" onclick= "gtag_report_conversion()"></input>
                    </form>
                </div>
                <div class = "notice-button"> 구독했는데 BYTE 뉴스레터가 오지 않는다면? </div>

            </div>
        </section>

        <section class = "function-description">

            <div class = "donut first-donut">
                <img src = "{% static 'main/img/donut_blue.png'%}">
            </div>

            <div class = "d-title">키워드로 보는 뉴스 한입</div>
            <div class = "d-content">
                쏟아지는 뉴스, 그래서 핵심이 뭔데? <br>
                중구난방 뉴스는 이제 그만! <br>
                핵심적인 뉴스의 흐름은 짚고 가자! <br>
            </div>
            <div class = "d-photo">
                <img src = "{% static 'main/img/p1.png'%}">
            </div>

            <div class = "d-title">상식 한입</div>
            <div class = "d-content">
                비즈니스 뉴스, 제대로 읽으려면? <br>
                이 정도는 알아야지! <br>
                어려운 비즈니스 용어, 이제는 친해질 수 있다! <br>
            </div>
            <div class = "d-photo">
                <img src = "{% static 'main/img/p2.png'%}">
            </div>

            <div class = "d-title">어제의 뉴스 모아보기</div>
            <div class = "d-content">
                중요한 비즈니스 뉴스만 다 모았다! <br>
                이제는 어렵게 찾지 마세요. <br>
            </div>
            <div class = "d-photo">
                <img src = "{% static 'main/img/p3.png'%}">
            </div>

        </section>

        <section class = "review">

            <div class = "r-header">
                <div class = "r-h-1">
                    <p>BYTE 뉴스레터는 </p>
                    <div>
                        <!--<p style = "font-weight : 600;"> {{ user_num }}</p>-->
                        <p style = "font-weight : 600;" class = "user-number"> {{subscribers}} </p>
                        <p>명이 구독중입니다.</p>
                    </div>
                </div>
                <div class = "r-h-2">
                    " BYTE 구독자들의 생생한 후기 "
                </div>
            </div>

            <div class = "r2">
                <div class = "r2-person"> 취준생 김OO</div>
                <div class = "r2-person"> 현업 마케터 최OO </div>

                <div> 단순한 뉴스 기사만 볼때는 어려운 전문적 단어가 나오면 읽기가 힘들어지는데, 기본 배경지식 및 단어에 관한 설명까지 함께 풀어서 서술되어있는점이 가장 마음에 듭니다. 핵심만 짚으면서 진입장벽은 낮춘 기사로 너무나 마음에 듭니다! </div>
                <div> 구독 후 처음 읽었습니다. 이해하기 쉽도록 대화체로 하나하나 설명해주어서 가독성이 좋았습니다. 뉴스보다 더 이해가 잘 되고 따라가기 쉽습니다. 상식 입문자에게 딱인 것 같습니다.</div>

                <div class = "r2-person"> 대학생 이OO</div>
                <div class = "r2-person"> 디자이너 이OO</div>

                <div> 최근 핫한 이슈를 이런 이슈가 있다 까지만 소개하는게 아닌 깊이있게 다뤄주니 어느 메일뉴스 서비스보다 만족스럽다.. </div>
                <div> 뉴스가 모아져있으니 이슈를 한눈에 파악하기 좋아요. 알게 되어 정말 기쁜 서비스입니다. 초심 잃지 말고 이렇게만 해주셔요 최고!</div>
            </div>
        </section>

        <section class = "below-subscribe">
            <div class = "logo"> 
                <img src = "{% static 'main/img/logo.png' %} ">
            </div>
            <div class = "description">
                BYTE와 함께하는 5분 똑똑해지기 프로젝트!
            </div>

            <div class = "subscribe-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div><input type = "text" placeholder = "이름" class = "name2" id = "name" name = "name" value = {{name}} ></input></div>
                    <div>
                        <input type = "text" placeholder = "이메일" class = "email2" id = "email" name = "email" value = {{email}}> </input>
                        <div class = "email-check"> {{ exist_alarm }} </div>
                    </div>
                    
                    <div class = "checkbox">
                        <input type = "checkbox" id ="checkbox" name = "checkbox" value = "checked"> </input>
                        <label for = "checkbox"> 개인정보 수집 및 이용 동의 </label>
                    </div>
                    <div class = "agree-info"> 
                        BYTE 뉴스레터를 받아볼 이메일 제공에 대해 동의합니다.
                        BYTE 뉴스레터 구독 취소시 개인정보는 폐기될 예정입니다.
                    </div>
                    <input type = "submit" id = "submit" value = "뉴스레터 무료로 구독하기" onclick= "gtag_report_conversion()"></input>
                </form>
            </div>
        </section>

        <section class = "links">
            <div class = "bg">
                <img src = {% static 'main/img/links_bg.png'%}>
                <div class = "links_inner">
                    <div class = "donut donut_black">
                        <img src = "{% static 'main/img/donut_black.png'%}">
                    </div>

                    <div class = "d-title" style = "color: black;">지난 뉴스레터</div>

                    <div class = "daily_byte">
                        <div class = "deco"> 
                            <img src = "{% static 'main/img/deco-line.png' %}">
                        </div>
                        <div class = "news_links">
                            <a href = "https://stibee.com/api/v1.0/emails/share/clckKkEXwXY4lRgl2yikRBc-AmR1Cw==">
                                <div class = "news_t">조세 지각변동: 디지털세 🔨</div>
                                <div class = "news_d">2021.07.05</div>
                            </a>
                            <a href = "https://stibee.com/api/v1.0/emails/share/ZVg5IM2H6En1LRsRudYL5yBTkx26aQ==">
                                <div class = "news_t">7월말, IPO 슈퍼위크가 온다 🏄‍♂️</div>
                                <div class = "news_d">2021.07.07</div>
                            </a>
                            <a href = "https://stibee.com/api/v1.0/emails/share/M1h7mYPcA1z9_z_2X_7tQZhqc4IuGg==">
                                <div class = "news_t">디지털에도 쌍둥이가 있다!?👫</div>
                                <div class = "news_d">2021.07.08</div>
                            </a>
                            <a href = "https://stibee.com/api/v1.0/emails/share/F2qms48w19n4Sr7ZQLBKR6592QJ_kQ==">
                                <div class = "news_t">2분기 성적표를 받아든 기업들 👀</div>
                                <div class = "news_d">2021.07.09</div>
                            </a>
                            <a href = "https://stibee.com/api/v1.0/emails/share/Cb63_jXcosmBM3r8yjykqcl1zsSGCg==">
                                <div class = "news_t">현실화하는 기후재앙 ⚡</div>
                                <div class = "news_d">2021.07.12</div>
                            </a>
                            <div class = "deco"> 
                                <img src = "{% static 'main/img/deco-line.png' %}">
                            </div>

                            <!-- <a href = "https://page.stibee.com/archives/81111">
                                <div class = "news_t" >뉴스레터 아카이빙 모두 보기</div>
                            </a> -->

                            <a href = "https://open.kakao.com/o/gNowba5c">
                                <div class = "news_t" >BYTE 카카오톡 오픈채팅방</div>
                            </a>

                            <a href = "https://www.instagram.com/byte__official/">
                                <div class = "news_t">BYTE 인스타그램</div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class = "footer">
            <div class = "footer-right">
                <div class = "logo-black"> 
                    <img src = "{% static 'main/img/logo-black.png' %} ">
                </div>
                <div class = "f-description">
                    바이트(Byte) / 대표 : 김태헌 / 사업자등록번호: 446-39-00657 <br>
                    주소: 서울특별시 관악구 남부순환로220길 38, 7층 <br>
                    광고/기타 문의 : byteteam365@gmail.com 010-6877-1154 
                </div>
            </div>
            <div class = "sns-link">
                <a href = "https://www.instagram.com/byte__official/">
                    <img src = "{% static 'main/img/ins_icon.png' %} ">
                </a>
                <a href = "https://www.facebook.com/%ED%85%8C%ED%81%ACbyte-100220921700988">
                    <img src = "{% static 'main/img/f_icon.png' %} ">
                </a>
                <a href = "https://open.kakao.com/o/g8HbQqqc">
                    <img src = "{% static 'main/img/k_icon.png' %} ">
                </a>
            </div>
        </section>
    <script type="text/javascript" src="{% static 'main/index.js' %}"></script>

{% endblock %}
